body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

/* Fullscreen background video */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

header h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 42px;
  text-align: center;
  font-weight: 400;
}

header h2 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

header h3 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

nav {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 42px;
  text-align: center;
  font-weight: 400;
}

#contact a {
  color: rgb(8, 54, 135);
  text-decoration: none;
  text-align: center;
}

#contact a:hover {
  text-decoration: underline;
}

#projects {
  padding: 40px;
  text-align: center;
}

#projects h2 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 400;
}

.project-card h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  margin-top: 10px;
  color: #333;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.project-card {
  background-color: #fefefe;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 40px auto;
  max-width: 650px;
}